body{
    background-color: #444444;
    color:#AAFFCC;
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.top{
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.topbar{
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    max-width: 93.75rem;
}

.topbar a{
    font-size: 1.25rem;
    text-decoration: none;
    color: #AAFFCC;
    font-weight: 900;

  
   
}

.topbar_left{
    width: 40%;
    display: flex;
    justify-content: space-between;
    max-width: 37.5rem;
   

}

.topbar_middle{
    width: 58%;
    max-width: 54.375rem;
    display: flex;
    justify-content: end;
   
}

.topbar button{
    background-color: #AAFFCC;
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    padding: .5rem;
    font-weight: 900;
    color: #444444;
}

.text_body{
    margin-top: 4rem;
    width: 98%;
    max-width: 91.875rem;

    display: flex;
    justify-content: space-between;
    
}

.text_box{
    width: 47%;
    max-width: 44.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.title_text{
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
}

.body_text{
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
}

#underline{
    text-decoration: underline;
}

.img_div{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2), rgba(170, 255, 204, .3)), url('assets/selfie.png');

    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 60%;
    aspect-ratio: 1;
    border-radius: 1rem;
    border: .2rem solid #AAFFCC;
}

#allign_center{
    align-items: center;
}

.allign_left{
    margin-top: 4rem;
    width: 98%;
    max-width: 91.875rem;
    display: flex;
    justify-content: start;
}

.languages{
    width: 98%;
    max-width: 91.875rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.languages img{
    width: 5rem;
}

#social_button{
    margin: 0;
    font-weight: 900;
    font-size: 1.4rem;
    background-color: #AAFFCC;
    color: #444444;
    font-family: "Inter", serif;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    width: 20%;
    border-radius: 1.5rem;
    text-decoration: none;
    margin-top: 1rem;
    padding: .5rem;
    


}

.margin_bottom{
    margin-bottom: 4rem;
}

#social_button img{
    width: 3.5rem;
  
}